<%- include('../partials/header') %>

<div class="container center text-center">
    <h2><%= game.name %></h2>
    <img src="<%=game.background_image%>" alt="cover" class="container center mt-3">
    <div class="container col" style="width: 10rem"></div>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Platform</th>
                <th scope="col">Description</th>
                <th scope="col">Released</th>
                <th scope="col">Rating</th>
                <th scope="col">Owned</th>
                <th scope="col">Played</th>
                <th scope="col">Completed</th>
            </tr>
        </thead>
        <tbody>
            <% games.forEach((g) => { %>
                <tr>
                    <td scope="row"><a href="/games/backlog/<%= g.id %>"><%= g.name %></a></td>
                    <td scope="row"><%= g.platform %></td>
                    <td scope="row"><%= g.description %></td>
                    <td scope="row"><%= g.released %></td>
                    <td scope="row"><%= g.rating %></td>
                    <td scope="row"><%= g.owned ? 'Y' : 'N' %></td>
                    <td scope="row"><%= g.played ? 'Y' : 'N' %></td>
                    <td scope="row"><%= g.completed ? 'Y' : 'N' %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (game.owner == userId) {%>
        <hr>
        <div class="container d-inline-flex justify-content-center">
            <form class="me-3" action="/games/update/<%= game._id %>?_method=PUT" method="POST">
                <fieldset>
                    <input hidden type="text" name="name" value="<%= game.name %>">
                    <input hidden type="text" name="platform" value="<%= game.platform %>">
                    <input hidden type="text" name="description" value="<%= game.description %>">
                    <input hidden type="date" name="released" value="<%= game.released %>">
                    <input hidden type="number" name="rating" value="<%= game.rating %>">
                    <label for="owned">Owned?</label>
                    <input type="checkbox" name="owned" <%= game.owned ? 'checked' : '' %>>
                    <label for="played">Played?</label>
                    <input type="checkbox" name="played" <%= game.played ? 'checked' : '' %>>
                    <label for="completed">Completed?</label>
                    <input type="checkbox" name="completed" <%= game.completed ? 'checked' : '' %>>
                    <input type="submit" class="btn btn-success" value="Update Game">
                </fieldset>
            </form>
            <form class="me-3" action="/games/delete/<%= game._id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-danger" value="Remove Game From Backlog">
            </form>
        </div>
    <% } %>
    <hr>
    <div class="btn-group">
        <a href="/games" class="btn btn-warning me-3">Return to Your Backlog</a>
    </div>
</div>



<%- include('../partials/footer') %>